<article class="post">
    <div class="inner">
        <h2>{{title}}</h2>
        {{{contents}}}
    </div>
    <script>
    (function(){
        'use strict';
        var script = document.scripts[document.scripts.length - 1];
        var container = script.parentNode;
        /* TODO: auto wrap from server side */
        var imgs = container.querySelectorAll('img');
        var img;
        var wrap;
        for(var l = imgs.length; l--; ) {
            img = imgs[l];
            wrap = document.createElement('div');
            wrap.classList.add('image-container');
            img.parentNode.insertBefore(wrap,img);
            wrap.appendChild(img);
            wrap.setAttribute('title', img.getAttribute('alt'));
        }

        // columns scroll handling
        container.addEventListener('mousewheel', function(event){
            var value = event.deltaY; //Math.max(event.deltaY, event.deltaX);
            var boundingRect = container.getBoundingClientRect();

            if (value > 0 && container.scrollLeft + container.offsetWidth >= container.scrollWidth) {
                return;
            }

            if (boundingRect.top < container.offsetTop || 
                (value < 0 && container.scrollLeft <= 0)
            ) {
                return;
            }

            container.scrollLeft += (value * 10);
            event.preventDefault();
        }, {passive: false, capture: false});
    })();
    </script>
</article>