<article class="post">
    <div class="inner">
        <h1>{{title}}</h1>
        {{{contents}}}
    </div>
    <script>
    (function(){
        'use strict';
        var script = document.scripts[document.scripts.length - 1];
        var container = script.parentNode;
        /* TODO: auto wrap from server side */
        var imgs = container.querySelectorAll('img');
        var img;
        var wrap;
        for(var l = imgs.length; l--; ) {
            img = imgs[l];
            wrap = document.createElement('div');
            wrap.classList.add('image-container');
            img.parentNode.insertBefore(wrap,img);
            wrap.appendChild(img);
            wrap.setAttribute('title', img.getAttribute('alt'));
        }

        var requestAnimationFrame = window.requestAnimationFrame;
        var cancelAnimationFrame = window.cancelAnimationFrame;

        (function() {
            var lastTime = 0;
            var vendors = ['ms', 'moz', 'webkit', 'o'];
            for(var x = 0; x < vendors.length && !requestAnimationFrame; ++x) {
                requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
                cancelAnimationFrame = window[vendors[x]+'CancelAnimationFrame'] || 
                    window[vendors[x]+'CancelRequestAnimationFrame'];
            }
         
            if (!requestAnimationFrame)
                requestAnimationFrame = function(callback) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                    var id = window.setTimeout(function() { callback(currTime + timeToCall); }, 
                      timeToCall);
                    lastTime = currTime + timeToCall;
                    return id;
                };
         
            if (!cancelAnimationFrame)
                cancelAnimationFrame = function(id) {
                    clearTimeout(id);
                };
        }());

        // columns scroll handling
        var TWEEN = window.TWEEN;
        var obj = {
            x: container.scrollLeft * 1
        };
        var tween = new TWEEN.Tween(obj)
        .start();

        container.addEventListener('mousewheel', function(event){
            var value = event.deltaY; //event.deltaY/Math.abs(event.deltaY) >> 0; //Math.max(event.deltaY, event.deltaX);
            var boundingRect = container.getBoundingClientRect();

            if (value > 0 && container.scrollLeft + container.offsetWidth >= container.scrollWidth) {
                return;
            }

            if (boundingRect.top < container.offsetTop || 
                (value < 0 && container.scrollLeft <= 0)
            ) {
                return;
            }

            tween
                .to({
                    x: obj.x + (value * 5)
                }, 30);

            event.preventDefault();
        }, {passive: false, capture: false});

        requestAnimationFrame(function loop(time){
            tween.update(time);
            container.scrollLeft = obj.x;
            requestAnimationFrame(loop);
        });
    })();
    </script>
</article>