<sub class="sub">这是一个记录骑摩托时、站在山顶时、躺在小溪旁、坐在公园的长椅上时，大脑放空却突然冒出的各种脑洞的博客。有时候也会聊一聊计算机技术，或是英国以及整个欧洲值得骑车去的一些地方，分享一些粗浅的骑行经验。</sub>
<ul class="posts">
    {{#each collections.posts}}
        {{#if title}}
            <li onclick="window.location.href = '{{path}}'">
                <h2 class="caption">
                    <a href="{{path}}">{{#folder path}}{{/folder}}：{{title}}</a> <span class="date">\ {{date}} \</span>
                </h2>
                {{#preview contents}}
                {{/preview}}
            </li>
        {{/if}}
    {{/each}}
</ul>