.content {
  background-color: #EFEFEF;
  min-height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.content:before,
.content:after {
  content: ' ';
  display: table;
}
@media (min-width: 1227px) {
  .content {
    width: calc(100% - var(--nav-primary-thickness));
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-positive: 0;
        flex-grow: 0;
  }
}
.content > .inner {
  position: relative;
  margin: var(--margin-large);
}
.content > .inner > .caption {
  margin: var(--margin-large) 0;
  text-align: center;
}
@media (min-width: 1227px) {
  .content > .inner > .caption {
    text-align: left;
  }
}
