.def-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  line-height: 1.3em;
}
@media (min-width: 1227px) {
  .def-body {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
