.has-activation-layer:before {
  content: ' ';
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.has-activation-layer:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: 'Click to activate';
  color: #FFF;
}
.has-activation-layer.activated:before {
  display: none;
}
