.image-container {
  margin: var(--margin-large) 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.image-container:after {
  content: attr(title);
  padding: var(--margin-default) var(--margin-large);
  background-color: #FFF;
  display: block;
  position: absolute;
  right: 0;
  top: 10%;
  font-size: .6em;
  line-height: 1.1em;
}
@media (min-width: 1227px) {
  .image-container:after {
    font-size: .8em;
  }
}
.image-container > img,
.image-container > video {
  margin: 0;
  display: block;
  width: 100%;
}
