@import (inline) "node_modules/normalize.css/normalize.css";

html, body 
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, '微软雅黑';
}

.clear()
{
    &:before,
    &:after
    {
        content: ' ';
        display: table;
    }
}

.column-settings()
{
    column-width: ~'calc(@{res-mobile} / 2)';
    column-gap: var(--margin-large);
}

.has-anchor()
{
    > a 
    {
        display: inline-block;
        position: relative;
        word-break: keep-all;

        &,
        &:focus,
        &:active
        {
            text-decoration: none;
            color: var(--text-color-default);
        }

        &:after
        {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: 0;
            border-bottom: 1px dashed var(--text-color-default);
        }
    }
}

body 
{
    --nav-primary-thickness: 80px;
    --margin-small: 5px;
    --margin-default: 10px;
    --margin-large: 30px;
    --text-color-default: #000;
    @res-mobile: 1226px;

    display: flex;
    flex-direction: column;
    line-height: 1.3em;

    @media (min-width: (@res-mobile + 1)) 
    {
        flex-direction: row;
    }

    nav.primary
    {
        flex-shrink: 0;

        display: flex;

        height: var(--nav-primary-thickness);

        @media (min-width: (@res-mobile + 1)) 
        {
            height: 100%;
            width: var(--nav-primary-thickness);
            
        }

        > .inner 
        {
            margin: var(--margin-default);

            flex-grow: 1;
            flex-shrink: 0;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            @media (min-width: (@res-mobile + 1)) 
            {
                justify-content: flex-start;
                margin: var(--margin-large) var(--margin-default);
            }

            > sub 
            {
                margin: var(--margin-default) 0;

                @media (min-width: (@res-mobile + 1)) 
                {
                    writing-mode: vertical-rl;
                }
            }
        }
    }

    .logo
    {
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        user-select: none;
        
        @media (min-width: (@res-mobile + 1)) 
        {
            /* blows on firefox because of https://bugzilla.mozilla.org/show_bug.cgi?id=1223180 */
            writing-mode: vertical-rl;
        }

        > .inner 
        {
            margin: 0;
            > .thoughts
            {

            }
        }
    }

    .content
    {
        .clear;
        
        background-color: #EFEFEF;
        min-height: 100%;
        flex-shrink: 0;
        flex-grow: 1;

        @media (min-width: (@res-mobile + 1)) 
        {
            width: ~'calc(100% - var(--nav-primary-thickness))';

            height: 100%;
            overflow: scroll;

            flex-shrink: 1;
            flex-grow: 0;
        }

        > .inner
        {
            margin: var(--margin-large);
            
            > .caption
            {
                margin: var(--margin-large) 0;
                text-align: center;
                @media (min-width: (@res-mobile + 1))
                {
                    text-align: left;
                }
            }
        }
    }

    article.post
    {
        @media (min-width: (@res-mobile + 1)) 
        {
            height: ~'calc(100vh - var(--margin-large) * 2)';
            overflow: hidden;
        }

        > .inner 
        {
            font-size: 22px;
            .column-settings;
            
            @media (min-width: (@res-mobile + 1)) 
            {
                height: 100%;
            }

            > *:first-child
            {
                /* 
                removing margin-collapsing sucks
                */
                margin-top: 0;
            }

            > h1, h2, h3, h4
            {
                line-height: 1.3;
            }

            > h1 
            {
                @media (max-width: @res-mobile) 
                {
                    text-align: center;
                }
            }
            
            > p
            {
                line-height: 1.3;
                
                > img,
                {
                    margin: var(--margin-large) 0;
                    display: block;
                    width: 100%;
                }

                > code 
                {
                    margin: 0 var(--margin-small);
                    padding: .15em var(--margin-default);
                    font-size: .7em;
                    vertical-align: top;
                    background-color: #E1E1E1;
                    color: #000;
                    border-radius: 3px;
                    text-shadow: 1px 1px 0 rgba(255,255,255,1);
                }
                
                .has-anchor();
            }

            > ul, ol 
            {
                line-height: 1.3;
            }
        }
    }

    .comment
    {
        margin: var(--margin-large) 0;
    }

    ul.posts
    {
        padding: 0;
        margin: var(--margin-large) 0;
        display: grid;

        @media (min-width: (@res-mobile + 1))
        {
            grid-template-columns: ~'calc(50% - var(--margin-large) / 2) calc(50% - var(--margin-large) / 2)';
            grid-gap: var(--margin-large);
        }

        > li 
        {
            display: block;
            position: relative;

            @media (min-width: (@res-mobile + 1))
            {
                padding-bottom: ~'calc(100% / 16 * 9 + var(--margin-large) * 2)';
            }

            > .caption
            {
                .has-anchor();
                /* again cancel it out */
                margin-top: 0;
                text-align: center;

                @media (min-width: (@res-mobile + 1))
                {
                    text-align: left;
                }

                > .date
                {
                    margin: var(--margin-default) 0;
                    display: block;
                    font-size: .6em;
                    color: #999;
                }
            }

            > .preview-text
            {
        
            }

            > .image-container
            {
                @media (min-width: (@res-mobile + 1))
                {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;   
                }
            }
        }
        > li:empty 
        {
            display: none;
        }
    }

    .image-container
    {
        position: relative;

        &:after 
        {
            content: attr(title);
            padding: var(--margin-default) var(--margin-large);
            background-color: #FFF;
            display: block;
            position: absolute;
            right: 0;
            top: 10%;

            font-size: .6em;
            line-height: 1.1em;

            @media (min-width: (@res-mobile + 1))
            {
                font-size: .8em;
            }
        }

        > img 
        {
            margin: var(--margin-large) 0;
            display: block;
            width: 100%;
        }
    }
}