nav.primary {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  height: var(--nav-primary-thickness);
}
@media (min-width: 1227px) {
  nav.primary {
    height: 100%;
    width: var(--nav-primary-thickness);
  }
}
nav.primary > .inner {
  margin: var(--margin-default);
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 1227px) {
  nav.primary > .inner {
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin: var(--margin-large) var(--margin-default);
  }
}
nav.primary > .inner > sub {
  margin: var(--margin-default) 0;
}
@media (min-width: 1227px) {
  nav.primary > .inner > sub {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}
.logo {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1227px) {
  .logo {
    /* blows on firefox because of https://bugzilla.mozilla.org/show_bug.cgi?id=1223180 */
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}
.logo > .inner {
  margin: 0;
}
