@import "src/styles/helpers.less";
@import "src/styles/rspn.less";

.content {
  .clear;

  background-color: #efefef;
  min-height: 100%;
  flex-shrink: 0;
  flex-grow: 1;

  .rspn-desktop
  ({
      width: ~'calc(100% - var(--nav-primary-thickness))';
      margin-left: var(--nav-primary-thickness);

      flex-shrink: 1;
      flex-grow: 0;
  });;

  > .inner {
    position: relative;
    margin: var(--margin-large);

    > .sub {
      border-radius: 8px;
      background: #fff;
      padding: 1em;
    }

    > .caption {
      margin: var(--margin-large) 0;
      text-align: center;

      .rspn-desktop
      ({
          text-align: left;
      });;
    }
  }
}
