.has-activation-layer {
  &:before {
    content: " ";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0;

    cursor: pointer;
    transition: opacity 0.3s;
  }

  &:hover:before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "点击激活";
    color: #fff;
    opacity: 1;
  }

  &.activated {
    &:before {
      display: none;
    }
  }
}
