@import "src/styles/rspn.less";

.image-container {
  margin: var(--margin-large) 0;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  &:after {
    content: attr(title);
    padding: var(--margin-default) var(--margin-large);
    background-color: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 10%;

    font-size: 0.6em;
    line-height: 1.1em;

    .rspn-desktop
    ({
        font-size: .8em;
    });;
  }

  > img,
  > video {
    margin: 0;
    display: block;
    width: 100%;
  }
}
