<div class="links">
  <div class="inner">
    <strong>\\ 生存在网络角落里的奇怪家伙们的链接\\</strong>
    <ul>
      <li><a href="https://tokugai.com"><img src="/icons/mana.jpg" alt=""> <span class="name">Mana殿</span></a> <span
          class="desc">在欧亚大陆最东边的小岛上生活的泡妹达人，兼摩托爱好者。</span></li>
      <li><a href="http://toyonomi.org/"><img src="/icons/toyonomi.png" alt=""> <span class="name">污术士仓鼠大大</span></a>
        <span class="desc">骑大本田佳御摩托的仓鼠兄，第一次了聊下来以为是中年发福的油腻抠脚大汉，实际上仔细观察后发现是一位懂生活，写文字，对古老科技有着谜之执着的文艺青年。</span>
      </li>
      <li><a href="http://shicheng.name/"><img src="/icons/user.png" alt=""> <span class="name">Shicheng</span></a>
        <span class="desc">曾经旅居英国，现居阿美利坚的土豪，擅长Java和用力甩尾。</span>
      </li>
    </ul>
  </div>
</div>